

.pulau-rawa-font {
    font-family: 'Dancing Script', cursive;
    color: black;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    
}
.text-overlay {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-decoration: wavy;
    
}
.title-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 50px;
    font-weight: bold;
}

.general-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}


.general-large-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight:bold;
}